{% extends "layout.html.j2" %}
{% block page %}Top{% endblock %}
{% block content %}
<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">Top Posers</h1>
			<h2 class="subtitle">See the global top posers here, updated live!</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<table class="table">
			<thead>
				<th>Ranking</th>
				<th>Name</th>
				<th>Score</th>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.score }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
