<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PoserRank</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
		<link rel="stylesheet" href="static/index.css">
	</head>
	<body>
		<section class="section">
			<div class="container has-text-centered">
				<h1 class="title  index-title">PoserRank</h1>
				<p class="subtitle index-subtitle">The website you never knew you needed and still don't.</p>
			</div>
		</section>
	</body>
</html>
