{% extends "layout.html.j2" %}
{% block page %}Home{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
<section class="section">
	<div class="container has-text-centered">
		<h1 class="title  index-title">PoserRank</h1>
		<p class="subtitle index-subtitle">The website you never knew you needed and still don't.</p>
	</div>
</section>
{% endblock %}
